#component>div{
    text-align: center;
}
#suggest{
    overflow-x: scroll;
}
#category>div>a>div>img{
    width: 240px;
    height: 200px;
}
a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
}
#suggest{
    -webkit-overflow-scrolling: touch;
}
#suggestcard>div{
    transform: rotateY(0deg);
}
#suggestcard>div:hover{
    transform: rotateY(0deg);
}
#linearsuggest{
    width: 100%;
    background-color: beige;
}
#linearsuggest>div>img{
    width: 78px;
    height: 78px;
}
#linearsuggest>div>span{
    position: relative;
    right: 25%;
    top: 30%;
}
ul{
    padding-left: 0;
}
li{
    list-style-type: none;
    column-count: 3;
}
footer{
    border: 3px solid rgb(106, 78, 78);
}
#logofooter{
    width: 120px;
    height: 120px;
}
